<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home page</title>
</head>
<body>
<h1>{{welcomePhrase}}</h1>
<p>Some text here</p>
<h3>My name is {{name}}</h3>
<p>
    And my favorite hobbies are:
    {{likes}}
</p>
<p>Copyright {{year}}</p>
{{> footer}}
</body>
</html>