<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home page</title>
</head>
<body>
{{> header}}
<h1>{{pageTitle}}</h1>
<p>List of projects</p>
<!--<p>{{currentDate}}</p>-->
<img src="{{image}}">
<ul>
    <li>Captn</li>
    <li>Blackerry</li>
    <li>Kyivstar</li>
    <li>APS-Market</li>
</ul>
{{> footer}}
</body>
</html>